<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg indigo navbar-dark fixed-top scrolling-navbar">

  <!-- Navbar brand -->
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">

            <a dropdownToggle  type="button" class="nav-link">
              <div class="form-row">
                <div class="col">
                  <img src="../../assets/img/perfume.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" mdbWavesEffect routerLink="/admin/products">
                </div>
                <div class="col">

            <label mdbWavesEffect routerLink="/admin/products"><b>Productos</b></label>
                </div>
              </div>

          </a>
        </div>

      </li>


      <li class="nav-item ">
      <div class="navbar-nav nav-flex-icons">
        <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
          <a dropdownToggle  type="button" class="nav-link">
            <div class="form-row ">
            <div class="col">
              <img src="../../assets/img/pedidos.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" >
            </div>
            <div class="col">

              <label >Pedidos</label>

            </div>
            </div>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item" routerLink="/admin/orders">Cliente</a>
            <a class="dropdown-item" routerLink="/admin/ordersProvider">Proveedor</a>
          </div>
        </div>
      </div>
      </li>



      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row">
          <div class="col">
            <img  src="../../assets/img/periodico.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  class="fa fa-user" mdbWavesEffect routerLink="/admin/sales">
          </div>
          <div class="col">

            <label  mdbWavesEffect routerLink="/admin/sales">Reportes</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/providers" src="../../assets/img/bolsa.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  >
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/providers">Proveedores</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>


      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/clients"  src="../../assets/img/cliente.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/clients"><b>Clientes</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>
  </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/documentation"  src="../../assets/img/ayuda.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/documentation"><b>Documentacion</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>

      </li>

      <!-- Dropdown -->


    </ul>
    <!-- Links -->
    <!-- Search form -->
    <!--
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
      </div>
    </form>
    -->
    <div class="navbar-nav nav-flex-icons">
      <div class="nav-item dropdown" WIDTH=40 HEIGHT=40 dropdown>
        <a dropdownToggle  type="button" class="nav-link">
          <img src="../../assets/img/user.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40 class="fa fa-user"  style="font-size: x-large;">
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item " routerLink="/admin/profile">Perfil</a>
          <a (click)="logOut()" class="dropdown-item">Salir</a>
        </div>
      </div>
    </div>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
  <br>
  <br>


  <div class="container">
    <div class="d-flex p-4 col-example"></div>
    <table mdbTable hover="true" class="m-4">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col" class="text-primary">{{head}} </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let provider of providers">
            <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
           <!--Content-->
           <div class="modal-content text-center">
             <!--Header-->
             <div class="modal-header d-flex justify-content-center">
               <p class="heading">Estas seguro?</p>
             </div>

             <!--Body-->
             <div class="modal-body">
               <i class="fa fa-times fa-4x animated rotateIn"></i>
             </div>

             <!--Footer-->
             <div class="modal-footer justify-content-center">
               <a mdbBtn color="succsess" outline="true" class="waves-effect"
                  mdbWavesEffect (click)="delete(provider)">Si</a>
               <a (click)="frame.hide()" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" this.photo=product.photo;>No</a>
             </div>
           </div>
           <!--/.Content-->
         </div>
       </div>

          <th >{{provider.name}} {{provider.lastName}}</th>
          <td>{{provider.identify}}</td>
          <td>{{provider.email}}</td>
          <td>{{provider.phone}}</td>

          <td>
            <i (click)="frame.show()" class="float-right p-2 fa fa-close red-text fa-lg" aria-hidden="true"></i>
            <i routerLink="edit-provider/{{provider.email}}" class="float-right p-2 fa fa-edit green-text fa-lg" aria-hidden="true"></i>
          </td>
          <td><button routerLink="/admin/ordersProvider/{{provider.email}}" type="submit"
          class="form-group" mdbBtn color="success" mdbWavesEffect>
    <i class="fa fa-view"></i>
    Ver Pedidos
  </button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <button routerLink="add-provider" class="btn green waves-light position-fixed expand"
        style="right:20px; bottom:20px;min-width:55px;height:55px;padding:0.5rem">
  <i class="fa fa-plus"></i>
  <span>Crear Proveedor</span>
</button>
