<div class="container">
	<h1 class="titulo">PRODUCTO #1</h1>
	<br>
	<div class="row">
		<div class="col-md-6">
			<img src="./assets/images/perfume.jpg" class="img-fluid">

		</div>

		<div class="col-md-6">
			<h4 class="info">200 M/L.  (6.7 ONZ).  PERFUME PARA HOMBRE ORIGINAL  212  por Carolina Herrera,  se clasifica como restauración, fragancia florida. Este olor masculino posee una mezcla de flores.La fragancia encierra notas frescas, cítricas (pomelo y mandarina) florales (rosa y peonía), sobre un fondo mezcla de cedro y sándalo</h4>
				<br>

			<img src="./assets/images/QR.png" class="img-fluid2">
			<br>
			<h2 class="precio">$250.000</h2>
			<br>
			<button type="button" class="btn btn-primary">Comprar</button>
		</div>
	</div>
</div>

