<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg indigo navbar-dark fixed-top scrolling-navbar">

    <!-- Navbar brand -->
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <div class="navbar-nav nav-flex-icons">
  
              <a dropdownToggle  type="button" class="nav-link">
                <div class="form-row">
                  <div class="col">
                    <img src="../../assets/img/perfume.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" mdbWavesEffect routerLink="/admin/products">
                  </div>
                  <div class="col">
  
              <label mdbWavesEffect routerLink="/admin/products"><b>Productos</b></label>
                  </div>
                </div>
  
            </a>
          </div>
  
        </li>
  
  
        <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
              <div class="form-row ">
              <div class="col">
                <img src="../../assets/img/pedidos.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" >
              </div>
              <div class="col">
  
                <label >Pedidos</label>
  
              </div>
              </div>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item" routerLink="/admin/orders">Cliente</a>
              <a class="dropdown-item" routerLink="/admin/ordersProvider">Proveedor</a>
            </div>
          </div>
        </div>
        </li>
  
  
  
        <li class="nav-item ">
          <div class="navbar-nav nav-flex-icons">
            <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
              <a dropdownToggle  type="button" class="nav-link">
          <div class="form-row">
            <div class="col">
              <img  src="../../assets/img/periodico.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  class="fa fa-user" mdbWavesEffect routerLink="/admin/sales">
            </div>
            <div class="col">
  
              <label  mdbWavesEffect routerLink="/admin/sales">Reportes</label>
            </div>
          </div>
        </a>
      </div>
    </div>
        </li>
  
        <li class="nav-item">
          <div class="navbar-nav nav-flex-icons">
            <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
              <a dropdownToggle  type="button" class="nav-link">
          <div class="form-row ">
            <div class="col">
              <img class="fa fa-user" mdbWavesEffect routerLink="/admin/providers" src="../../assets/img/bolsa.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  >
            </div>
            <div class="col">
  
              <label mdbWavesEffect routerLink="/admin/providers">Proveedores</label>
            </div>
          </div>
        </a>
      </div>
    </div>
        </li>
  
        <li class="nav-item">
          <div class="navbar-nav nav-flex-icons">
            <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
              <a dropdownToggle  type="button" class="nav-link">
          <div class="form-row ">
            <div class="col">
              <img  src="../../assets/img/ventas.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25 class="fa fa-user" mdbWavesEffect routerLink="/admin/orders">
            </div>
            <div class="col">
  
              <label mdbWavesEffect routerLink="/admin/orders"><b>Ventas</b></label>
            </div>
          </div>
        </a>
      </div>
    </div>
        </li>
  
        <li class="nav-item">
          <div class="navbar-nav nav-flex-icons">
            <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
              <a dropdownToggle  type="button" class="nav-link">
          <div class="form-row ">
            <div class="col">
              <img class="fa fa-user" mdbWavesEffect routerLink="/admin/clients"  src="../../assets/img/cliente.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
            </div>
            <div class="col">
  
              <label mdbWavesEffect routerLink="/admin/clients"><b>Clientes</b></label>
            </div>
          </div>
        </a>
      </div>
    </div>
    </li>
  
        <li class="nav-item">
          <div class="navbar-nav nav-flex-icons">
            <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
              <a dropdownToggle  type="button" class="nav-link">
          <div class="form-row ">
            <div class="col">
              <img class="fa fa-user" mdbWavesEffect routerLink="/admin/help"  src="../../assets/img/ayuda.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
            </div>
            <div class="col">
  
              <label mdbWavesEffect routerLink="/admin/help"><b>Ayuda</b></label>
            </div>
          </div>
        </a>
      </div>
    </div>
  
        </li>
  
        <!-- Dropdown -->
  
  
      </ul>
      <!-- Links -->
      <!-- Search form -->
      <!--
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
        </div>
      </form>
      -->
      <div class="navbar-nav nav-flex-icons">
        <div class="nav-item dropdown" WIDTH=40 HEIGHT=40 dropdown>
          <a dropdownToggle  type="button" class="nav-link">
            <img src="../../assets/img/user.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40 class="fa fa-user"  style="font-size: x-large;">
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item " href="#">Perfil</a>
            <a (click)="logOut()" class="dropdown-item " routerLink="exit">Salir</a>
          </div>
        </div>
      </div>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  
  <!--form create product -->
  <div class="d-flex p-3 col-example"></div>
  <div class="container" style="margin-top: 100px">
    <!--Grid column-->
    <div class="" id="contentToConvert">
        <table mdbTable *ngIf="provider">
            <thead class="grey lighten-1 black-text">
              <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol>
                <th >{{provider.name}} {{provider.lastname}}</th>
                <td>{{provider.phone}}</td>
              </tr>
            </tbody>
          </table>
      <div class="card">
        <div class="card-body">
          <!-- Shopping Cart table -->
          <div class="table-responsive">

            <table class="table product-table" >
  
              <!-- Table head -->
              <thead class="mdb-color lighten-5">
                <tr style="background-color:white;">
                  <th></th>
                  <th class="font-weight-bold">
                    <strong>Producto</strong>
                  </th>
                  <th></th>
                  <th class="font-weight-bold">
                    <strong>Precio</strong>
                  </th>
                  <th class="font-weight-bold">
                    <strong>Cantidad</strong>
                  </th>
                  <th class="font-weight-bold">
                    <strong>Total</strong>
                  </th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <!-- /.Table head -->
              <!-- Table body -->
              <tbody *ngIf="products">
  
                <!-- First row -->
                <tr *ngFor="let product of products" style="vertical-align:middle;">
                  <th scope="row">
                    <img [src]="product.photo" alt="" class="img-fluid z-depth-0">
                  </th>
                  <td>
                    <h5 class="mt-3">
                      <strong>{{product.name}}</strong>
                    </h5>
                  </td>
                  <td></td>
                  <td>
                      {{product.priceOut}}
                  </td>
                  <td class="font-weight-bold">
                      {{product.amount}}
                  </td>
                  <td>{{product.total}}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <h4 class="mt-2">
                      <strong>Total</strong>
                    </h4>
                  </td>
                  <td *ngIf="products[0]" class="text-right">
                    <h4 class="mt-2">
                      <strong>{{products[0].totalOrder}}</strong>
                    </h4>
                  </td>
                </tr>
  
                <!-- /.First row -->
              </tbody>
              <!-- /.Table body -->
  
            </table>
  
          </div>
          <!-- /.Shopping Cart table -->
  
        </div>
  
      </div>
  
    </div>
    <!--Grid column-->
  
  </div>
  
  <button (click)="getReportPdf()" class="btn blue waves-light position-fixed expand"
        style="left:20px; bottom:20px;;min-width:55px;height:55px;padding:0.5rem">
        <i class="fa fa-file"></i>
  <span>Generar reporte</span> 
</button>