<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg indigo navbar-dark fixed-top scrolling-navbar">

  <!-- Navbar brand -->
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=60 HEIGHT=60 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
              <div class="form-row mb-4">
                <div class="col">
                <img src="../../assets/img/perfume.png" ALIGN=top WIDTH=40 HEIGHT=40 class="fa fa-user" mdbWavesEffect routerLink="/admin/products">
          </div>
          <div class="col">
            <br>
            <label mdbWavesEffect routerLink="/admin/products"><b>Productos</b></label>
          </div>
        </div>

          </a>
        </div>
      </div>
      </li>


      <li class="nav-item ">
      <div class="navbar-nav nav-flex-icons">
        <div class="nav-item dropdown" WIDTH=60 HEIGHT=60 dropdown>
          <a dropdownToggle  type="button" class="nav-link">
            <div class="form-row mb-4">
            <div class="col">
              <img src="../../assets/img/pedidos.png" ALIGN=top WIDTH=40 HEIGHT=40 class="fa fa-user" >
            </div>
            <div class="col">
              <br>
              <label >Pedidos</label>

            </div>
            </div>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item" >Cliente</a>
            <a class="dropdown-item" >Proveedor</a>
          </div>
        </div>
      </div>
      </li>



      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=60 HEIGHT=60 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row mb-4">
          <div class="col">
            <img  src="../../assets/img/periodico.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40  class="fa fa-user" mdbWavesEffect routerLink="/admin/sales">
          </div>
          <div class="col">
            <br>
            <label  mdbWavesEffect routerLink="/admin/sales">Reportes</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=60 HEIGHT=60 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row mb-4">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/providers" src="../../assets/img/bolsa.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40  >
          </div>
          <div class="col">
            <br>
            <label mdbWavesEffect routerLink="/admin/providers">Proveedores</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=60 HEIGHT=60 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row mb-4">
          <div class="col">
            <img  src="../../assets/img/ventas.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40 class="fa fa-user" mdbWavesEffect routerLink="/admin/orders">
          </div>
          <div class="col">
            <br>
            <label mdbWavesEffect routerLink="/admin/orders"><b>Ventas</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=60 HEIGHT=60 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row mb-4">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/clients"  src="../../assets/img/cliente.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40>
          </div>
          <div class="col">
            <br>
            <label mdbWavesEffect routerLink="/admin/clients"><b>Clientes</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>
  </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=60 HEIGHT=60 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row mb-4">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/help"  src="../../assets/img/ayuda.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40>
          </div>
          <div class="col">
            <br>
            <label mdbWavesEffect routerLink="/admin/help"><b>Ayuda</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>

      </li>

      <!-- Dropdown -->


    </ul>
    <!-- Links -->
    <!-- Search form -->
    <!--
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
      </div>
    </form>
    -->
    <div class="navbar-nav nav-flex-icons">
      <div class="nav-item dropdown" WIDTH=60 HEIGHT=60 dropdown>
        <a dropdownToggle  type="button" class="nav-link">
          <img src="../../assets/img/user.png" ALIGN=MIDDLE WIDTH=60 HEIGHT=60 class="fa fa-user"  style="font-size: x-large;">
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item " href="#">Perfil</a>
          <a (click)="logOut()" class="dropdown-item " routerLink="exit">Salir</a>
        </div>
      </div>
    </div>
  </links>


</mdb-navbar>
<br>
<br>


<div class="container">
  <div class="d-flex p-4 col-example"></div>
  <table mdbTable hover="true" class="m-4">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col" class="text-primary">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let client of clients">
        <th scope="row">{{client.name}} {{client.lastName}}</th>
        <td>{{client.identify}}</td>
        <td>{{client.email}}</td>
        <td>{{client.phone}}</td>
      </tr>
    </tbody>
  </table>
</div>
