<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg cyan navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="true">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <strong>Valeria´s</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="" class="nav-link">
            Inicio
          </a>
        </li>
        <li class="nav-item waves-light dropdown" dropdown *ngFor="let category of categories">
          <a *ngIf="category.num != 0; else elseMenu" dropdownToggle mdbWavesEffect (click)="getSubCategories(category.id)" class="nav-link dropdown-toggle waves-light">
            {{category.name}}<span class="caret"></span>
          </a>
          <ng-template #elseMenu class="navbar-nav nav-flex-icons ">
            <a routerLink="/category/{{category.id}}" class="nav-link">
              {{category.name}}
            </a>
          </ng-template>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/category/{{category.id}}">{{category.name}}</a>
            <a *ngFor="let subcategory of subCategories" class="dropdown-item waves-light" mdbWavesEffect routerLink="/category/{{subcategory.id}}">{{subcategory.name}}</a>
          </div>

        </li>
      </ul>

      <div *ngIf="currentUser; else elseLogin" class="navbar-nav nav-flex-icons">
        <div class="nav-item dropdown" dropdown>
          <a dropdownToggle type="button" class="nav-link">
            <i class="fa fa-user" style="font-size: x-large;"></i>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a routerLink="/detail-count/{{currentUser.email}}" class="dropdown-item ">{{currentUser.name}}</a>
            <a routerLink="/orders" class="dropdown-item ">Mis pedidos</a>
            <a (click)="logOut()" class="dropdown-item " routerLink="exit">Salir</a>
          </div>
        </div>
        <a routerLink="/order" class="nav-link">
          <i class="fa fa-shopping-cart" style="font-size: x-large;"></i>
        </a>
      </div>
      <ng-template #elseLogin class="navbar-nav nav-flex-icons ">
        <ul class="navbar-nav ">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLink="/login" class="nav-link">
              Ingresa
            </a>
          </li>
        </ul>
      </ng-template>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro-2" style="">
    <div class="full-bg-img">
      <div class="mask light-blue lighten-3 flex-center">
        <div class="row pt-5 mt-3">
          <div class="col-md-12 mb-3" *ngIf="currentUser; else elseBlock">
            <div class="intro-info-content text-center">
              <h1 class="display-3 mb-5 wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.3s;">
                PERFUMERIA
                <a class="black-text font-weight-bold">VALERIA</a>
              </h1>
              <h5 class="text-uppercase mb-5 mt-1 font-weight-bold wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.3s;"></h5>
              <a routerLink="/orders" class="btn btn-outline-indigo btn-lg wow fadeInDown waves-effect waves-light animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.3s;">Mis Pedidos</a>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="intro-info-content text-center">
              <h1 class="display-3 mb-5 wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.3s;">
                PERFUMERIA
                <a class="black-text font-weight-bold">VALERIA</a>
              </h1>
              <h5 class="text-uppercase mb-5 mt-1 font-weight-bold wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.3s;"></h5>
              <a routerLink="/login" class="btn btn-outline-indigo btn-lg wow fadeInDown waves-effect waves-light animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.3s;">Ingresa</a>
              <a routerLink="/register" class="btn btn-indigo btn-lg wow fadeInDown waves-effect waves-light animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.3s;">Registrate</a>
            </div>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>

<!--form create product -->
<div class="d-flex p-2 col-example"></div>
<form class="text-center p-5 container md-form col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8" [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4"></p>
  <div class="row">

    <!-- Name -->
    <div class="md-form col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <input mdbInputDirective type="text" id="name" class="form-control" formControlName="name">
      <label for="name" class="">Nombres</label>
    </div>


    <!-- LastName -->
    <div class="md-form col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <input mdbInputDirective type="text" id="lastname" class="form-control" formControlName="lastName">
      <label for="lastname" class="">Apellidos</label>
    </div>

    <!-- Direction -->
    <div class="md-form col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <input mdbInputDirective type="text" id="direction" class="form-control" formControlName="direction">
      <label for="direction" class="">Dirección</label>
    </div>

    <!-- Password -->
    <div class="md-form col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <input mdbInputDirective type="text" id="password" class="form-control" formControlName="password">
      <label for="password" class="">Constraseña</label>
    </div>

    <!-- phone -->
    <div class="md-form col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <input mdbInputDirective type="text" id="phone" class="form-control" formControlName="phone">
      <label for="phone" class="">Telefono</label>
    </div>

    <!-- indentify -->
    <div class="md-form col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <input mdbInputDirective type="text" id="identify" class="form-control" formControlName="identify">
      <label for="identify" class="">Cedula</label>
    </div>

    <!-- Sign in button -->
    <button style="right:20px; bottom:20px;border-radius: 50%;width:55px;height:55px;padding:0.5rem"
            class="position-fixed form-group" mdbBtn color="success" mdbWavesEffect>
      <i class="fa fa-check"></i>
    </button>
  </div>
</form>
<!-- form create product -->
