<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg black navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="true">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <strong>Valeria´s</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="" class="nav-link">
            Inicio
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro-2" style="">
    <div class="full-bg-img">
      <div class="mask flex-center">
        <div class="row pt-5 mt-3">
          <div class="col-md-12 mb-3">
            <div class="intro-info-content text-center ">

              <div class="container d-flex justify-content-center p-4 col-example  animated  wow fadeInRight">
                <form class="text-center border border-light p-5" style="margin-top:100px;" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                  <p class="h4 mb-4">Ingresa</p>

                  <div *ngIf="error" #alert class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{textError}}
                  </div>
                  <!-- Email -->



                  <div >
                    <input required type="email" class="form-control mb-1" placeholder="Correo" formControlName="email">
                    <p style="color:#FF0000" ion-text *ngIf="loginForm.get('email').dirty && loginForm.get('email').errors && loginForm.get('email').errors['required']"> Campo requerido</p>
                    <p style="color:#FF0000" ion-text *ngIf="loginForm.get('email').dirty && loginForm.get('email').errors && loginForm.get('email').errors['email']"> Correo con formato incorrecto</p>
                  </div>
                  <!-- Password -->
                  <br>


                  <div class='errors'>
                    <input required type="password" class="form-control mb-1" placeholder="Contraseña" formControlName="password">
                    <p style="color:#FF0000" ion-text *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors && loginForm.get('password').errors['required']"> Campo requerido</p>
                  </div>
                  <div class="d-flex justify-content-around">

                  </div>

                  <!-- Sign in button -->
                  <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!loginForm.valid">Ingresar</button>

                  <!-- Register -->
                  <p>
                    No estas registrado?
                    <a routerLink="/register" href="">Registrate</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </header>
  <!-- /.Main -

  <!-- Default form login -->

  <!-- Default form login -->
