<mdb-navbar SideClass="navbar navbar-expand-lg indigo navbar-dark fixed-top scrolling-navbar">

  <!-- Navbar brand -->
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">

            <a dropdownToggle  type="button" class="nav-link">
              <div class="form-row">
                <div class="col">
                  <img src="../../assets/img/perfume.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" mdbWavesEffect routerLink="/admin/products">
                </div>
                <div class="col">

            <label mdbWavesEffect routerLink="/admin/products"><b>Productos</b></label>
                </div>
              </div>

          </a>
        </div>

      </li>


      <li class="nav-item ">
      <div class="navbar-nav nav-flex-icons">
        <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
          <a dropdownToggle  type="button" class="nav-link">
            <div class="form-row ">
            <div class="col">
              <img src="../../assets/img/pedidos.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" >
            </div>
            <div class="col">

              <label >Pedidos</label>

            </div>
            </div>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item" routerLink="/admin/orders">Cliente</a>
            <a class="dropdown-item" routerLink="/admin/ordersProvider">Proveedor</a>
          </div>
        </div>
      </div>
      </li>



      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row">
          <div class="col">
            <img  src="../../assets/img/periodico.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  class="fa fa-user" mdbWavesEffect routerLink="/admin/sales">
          </div>
          <div class="col">

            <label  mdbWavesEffect routerLink="/admin/sales">Reportes</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/providers" src="../../assets/img/bolsa.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  >
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/providers">Proveedores</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img  src="../../assets/img/ventas.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25 class="fa fa-user" mdbWavesEffect routerLink="/admin/orders">
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/orders"><b>Ventas</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/clients"  src="../../assets/img/cliente.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/clients"><b>Clientes</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>
  </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/help"  src="../../assets/img/ayuda.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/help"><b>Ayuda</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>

      </li>

      <!-- Dropdown -->


    </ul>
    <!-- Links -->
    <!-- Search form -->
    <!--
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
      </div>
    </form>
    -->
    <div class="navbar-nav nav-flex-icons">
      <div class="nav-item dropdown" WIDTH=40 HEIGHT=40 dropdown>
        <a dropdownToggle  type="button" class="nav-link">
          <img src="../../assets/img/user.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40 class="fa fa-user"  style="font-size: x-large;">
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item " href="#">Perfil</a>
          <a (click)="logOut()" class="dropdown-item " routerLink="exit">Salir</a>
        </div>
      </div>
    </div>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>

<!--form create product -->
<br>
<div class="d-flex p-2 col-example"></div>
<form class="text-center p-5 container col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8" [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4">Crear producto</p>
  <div class="row">

    <div *ngIf="error" #alert class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
      {{errorText}}
    </div>


    <div class="md-form col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <input mdbInputDirective type="text" class="form-control mb-4 " formControlName="name">
      <label for="name" class="">Nombre</label>
    </div>


    <!-- Code Bar -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 md-form">
      <input mdbInputDirective type="text" class="form-control mb-4" formControlName="codeBar" #qr (keyup)="0">
      <label for="codeBar" class="">Codigo</label>
    </div>


    <!-- Price -->
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 md-form">
      <input mdbInputDirective type="number" id="priceIn" class="form-control mb-4" formControlName="ganancy">
      <label for="priceIn" class="">Ganacia</label>
    </div>

    <!-- discount -->
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 md-form">
      <input mdbInputDirective type="number" id="discount" class="form-control mb-4" formControlName="discount">
      <label for="discount" class="">Descuento</label>
    </div>
    <br>
    <div class='errors'>
      <p *ngIf="addForm.get('name').dirty && addForm.get('name').errors && addForm.get('name').errors['required']"> El nombrre de prosucto es requerido</p>
      <p *ngIf="addForm.get('codeBar').dirty && addForm.get('codeBar').errors && addForm.get('codeBar').errors['required']"> El código de barras es requerido</p>
      <p *ngIf="addForm.get('codeBar').dirty && addForm.get('codeBar').errors && addForm.get('codeBar').errors['pattern']"> El código de barras ingresado es inválido</p>
    </div>

    <!-- category -->
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 md-form input-group">
      <select class="browser-default custom-select" formControlName="category">
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}
        </option>
      </select>
      <div class="input-group-append">
        <button  (click)="frame.show()" mdbBtn color="default" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2"
                mdbWavesEffect>
          Agregar Categoria
        </button>
      </div>
    </div>



    <!-- Description -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 md-form">
      <textarea mdbInputDirective type="text" class="form-control mb-4 md-textarea" formControlName="description"></textarea>
      <label for="description" class="">Descripcion</label>
    </div>
    <br>
    <div class='errors'>
      <p *ngIf="addForm.get('description').dirty && addForm.get('description').errors && addForm.get('description').errors['required']"> La descripción es requerida</p>

    </div>
    <!-- Image -->

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <img [src]="url" class="w-responsive text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-2">
      <label class="w-responsive text-center mx-auto p-3 mt-2" mdbBtn color="success" style="position:unset;">
        <input type="file" id="photo" name="photo" ng2FileSelect [uploader]="uploader" (change)="onSelectFile($event)" class="inputfile">
        Subir imagen
      </label>
      <input mdbInputDirective type="hidden" id="" class="form-control mb-4" formControlName="photo">
    </div>

    <input type="file" style="display: none" id="fileChooser">

    <!-- Video -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 md-form">
      <input mdbInputDirective type="text" id="video" class="form-control mb-4" formControlName="video" [(ngModel)]="product.video">
      <label for="video" class="">Video</label>
      <button (click)="loadVideo()" mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Agregar</button>
    </div>
    <div *ngIf="safeSrc" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 embed-responsive embed-responsive-16by9 mb-4">
      <iframe class="embed-responsive-item" [src]="safeSrc" allowfullscreen></iframe>
    </div><!-- Sign in button -->

    <button style="right:20px; bottom:20px;border-radius: 50%;width:55px;height:55px;padding:0.5rem"
            class="position-fixed form-group" mdbBtn color="success" mdbWavesEffect [disabled]="!addForm.valid">
      <i class="fa fa-check"></i>
    </button>

    <qrcode type="hidden" style="left:20px; bottom:20px;"
            class="position-fixed" mdbWavesEffect id="qr" [qrdata]="qr.value" [size]="128" [level]="'M'" image="true"></qrcode>

  </div>


</form>
<!-- form create product -->

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Categorias</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <table mdbTable mdbTableScroll scrollY="true" maxHeight="200">
          <tbody>
            <tr mdbTableCol *ngFor="let category of categories">

              <div mdbModal #frameDelete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
                   aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                  <!--Content-->
                  <div class="modal-content text-center">
                    <!--Header-->
                    <div class="modal-header d-flex justify-content-center">
                      <p class="heading">Estas seguro?</p>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                      <i class="fa fa-times fa-4x animated rotateIn"></i>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                      <a mdbBtn color="danger" outline="true" class="waves-effect"
                         mdbWavesEffect (click)="deleteCategory(category)">Si</a>
                      <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frameDelete.hide()">No</a>
                    </div>

                  </div>
                  <!--/.Content-->
                </div>
              </div>

              <th>{{category.id}}</th>
              <td>{{category.name}}</td>
              <td>
                <i class="float-right p-2 fa fa-pencil green-text fa-lg" aria-hidden="true"></i>
                <i (click)="frameDelete.show()" class="float-right p-2 fa fa-close red-text fa-lg" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <form class="" [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">

          <div *ngIf="error" #alert class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
              <span aria-hidden="true">&times;</span>
            </button>
            {{errorText}}
          </div>

          <div class="modal-body mx-3">
            <!-- LastName -->
            <div class="md-form">
              <i class="fa fa-hashtag prefix grey-text"></i>
              <input mdbInputDirective type="text" id="name" autocomplete="off" class="form-control" formControlName="name">
              <label for="name" class="">Nombre</label>
            </div>

            <!-- Email -->
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input formControlName="superCategory" type="text" autocomplete="off" id="email" mdbInputDirective [(ngModel)]="asyncSelected"
                     [typeaheadScrollable]="true"
                     [typeahead]="dataSource"
                     typeaheadOptionField="id"
                     class="form-control">
              <label for="email" class="">Categoria Padre</label>
            </div>

            <!-- Sign in button -->


          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button mdbBtn color="success" class="waves-light" mdbWavesEffect>Agregar</button>
          </div>
        </form>

      </div>
    <!--/.Content-->
  </div>
</div>
