<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg black navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="true">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <strong>Valeria´s</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="" class="nav-link">
            Inicio
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro-2" style="">
    <div class="full-bg-img">
      <div class="mask flex-center">
        <div class="row pt-5 mt-3">
          <div class="col-md-12 mb-3">
            <div class="intro-info-content text-center ">

              <div class="container d-flex justify-content-center p-4 col-example  animated  wow fadeInRight">

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<!-- Default form register -->
<div class="container" style="margin-top:100px;">

  <form class="text-center border border-light p-5" [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <p class="h4 mb-4">Registro</p>

    <div *ngIf="error" #alert class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
      {{errorText}}
    </div>

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <input type="text" class="form-control" placeholder="Nombres" formControlName="name">
      </div>

      <div class="col">
        <!-- Last name -->
        <input type="text" class="form-control" placeholder="Apellidos" formControlName="lastName">
      </div>

    </div>
    <div class='errors'>
      <p *ngIf="addForm.get('name').dirty && addForm.get('name').errors && addForm.get('name').errors['required']"> El nombre es requerido</p>
      <p *ngIf="addForm.get('name').dirty && addForm.get('name').errors && addForm.get('name').errors['pattern']"> El nombre ingresado es inválido</p>
      <p *ngIf="addForm.get('lastName').dirty && addForm.get('lastName').errors && addForm.get('lastName').errors['required']"> El apellido es requerido</p>
      <p *ngIf="addForm.get('lastName').dirty && addForm.get('lastName').errors && addForm.get('lastName').errors['pattern']"> El apellido ingresado es inválido</p>
    </div>

    <!-- Phone number -->
    <input type="text" class="form-control" placeholder="Direccion" formControlName="direction">
    <br>
    <div class='errors'>
      <p *ngIf="addForm.get('direction').dirty && addForm.get('direction').errors && addForm.get('direction').errors['required']"> La dirección es requerida</p>
    </div>

    <input type="text" class="form-control" placeholder="Identificacion" formControlName="identify">
    <br>
    <div class='errors'>
      <p *ngIf="addForm.get('identify').dirty && addForm.get('identify').errors && addForm.get('identify').errors['required']"> El numero de identificación es requerido</p>
      <p *ngIf="addForm.get('identify').dirty && addForm.get('identify').errors && addForm.get('identify').errors['pattern']"> El numero de identificación ingresado es inválido</p>
    </div>

    <input type="text" class="form-control" placeholder="Celular" formControlName="phone">
    <br>
    <div class='errors'>
      <p *ngIf="addForm.get('phone').dirty && addForm.get('phone').errors && addForm.get('phone').errors['required']"> El numero de teléfono es requerido</p>
      <p *ngIf="addForm.get('phone').dirty && addForm.get('phone').errors && addForm.get('phone').errors['pattern']"> El numero de teléfono ingresado es inválido</p>
    </div>

    <!-- E-mail -->
    <input type="email" class="form-control mb-4" placeholder="Correo" formControlName="email">
    <br>
    <div class='errors'>
      <p *ngIf="addForm.get('email').dirty && addForm.get('email').errors && addForm.get('email').errors['required']"> El correo electronico es requerido</p>
      <p *ngIf="addForm.get('email').dirty && addForm.get('email').errors && addForm.get('email').errors['email']"> El correo electronico ingresado tiene formato invalido</p>
    </div>

    <!-- Password -->
    <input type="password" class="form-control" placeholder="contraseña" formControlName="password">
    <br>
    <div class='errors'>
      <p *ngIf="addForm.get('password').dirty && addForm.get('password').errors && addForm.get('password').errors['required']"> La dirección es requerida</p>

    </div>

    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!addForm.valid">Registrar</button>

  </form>
</div>
<!-- Default form register -->

