<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg indigo navbar-dark fixed-top scrolling-navbar">

  <!-- Navbar brand -->
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">

            <a dropdownToggle  type="button" class="nav-link">
              <div class="form-row">
                <div class="col">
                  <img src="../../assets/img/perfume.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" mdbWavesEffect routerLink="/admin/products">
                </div>
                <div class="col">

            <label mdbWavesEffect routerLink="/admin/products"><b>Productos</b></label>
                </div>
              </div>

          </a>
        </div>

      </li>


      <li class="nav-item ">
      <div class="navbar-nav nav-flex-icons">
        <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
          <a dropdownToggle  type="button" class="nav-link">
            <div class="form-row ">
            <div class="col">
              <img src="../../assets/img/pedidos.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" >
            </div>
            <div class="col">

              <label >Pedidos</label>

            </div>
            </div>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item" routerLink="/admin/orders">Cliente</a>
            <a class="dropdown-item" routerLink="/admin/ordersProvider">Proveedor</a>
          </div>
        </div>
      </div>
      </li>



      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row">
          <div class="col">
            <img  src="../../assets/img/periodico.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  class="fa fa-user" mdbWavesEffect routerLink="/admin/sales">
          </div>
          <div class="col">

            <label  mdbWavesEffect routerLink="/admin/sales">Reportes</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/providers" src="../../assets/img/bolsa.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  >
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/providers">Proveedores</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>


      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/clients"  src="../../assets/img/cliente.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/clients"><b>Clientes</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>
  </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/documentation"  src="../../assets/img/ayuda.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/documentation"><b>Documentacion</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>

      </li>

      <!-- Dropdown -->


    </ul>
    <!-- Links -->
    <!-- Search form -->
    <!--
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
      </div>
    </form>
    -->
    <div class="navbar-nav nav-flex-icons">
      <div class="nav-item dropdown" WIDTH=40 HEIGHT=40 dropdown>
        <a dropdownToggle  type="button" class="nav-link">
          <img src="../../assets/img/user.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40 class="fa fa-user"  style="font-size: x-large;">
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item " routerLink="/admin/profile">Perfil</a>
          <a (click)="logOut()" class="dropdown-item">Salir</a>
        </div>
      </div>
    </div>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>

<!--form create product -->
<div class="d-flex p-3 col-example"></div>
<form class="p-5  container col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8" [formGroup]="addForm">
  <p class="h4 mb-4 text-center">Producto</p>
  <div class="row aling-center">
    <!-- Name -->

    <div class="md-form  col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="md-form">
        <div class="row">
          <div class="col-sm-3">
            <select class="form-control" formControlName="codeBar">
              <option value="0">Producto</option>
              <option value="{{product.codeBar}}" *ngFor="let product of allProducts">
                {{product.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

    </div>

    <div class="md-form col-9 col-sm-10 col-md-4 col-lg-4 col-xl-4">
      <i class="fa fa-hashtag prefix grey-text"></i>
      <input mdbInputDirective type="text" class="form-control mb-4 " formControlName="amount">
      <label for="amount" class="">Cantidad</label>
    </div>
    <div class="md-form col-9 col-sm-10 col-md-4 col-lg-4 col-xl-4">
      <i class="fa fa-hashtag prefix grey-text"></i>
      <input mdbInputDirective type="text" class="form-control mb-4 " formControlName="priceIn">
      <label for="amount" class="">Precio</label>
    </div>


    <button style="border-radius: 50%;width:55px;height:55px;padding:0.5rem;z-index:1;" (click)="onSubmit()"
      class="form-group" mdbBtn color="success" mdbWavesEffect>
      <i class="fa fa-plus"></i>
    </button>



  </div>


</form>
<button style="right:20px; bottom:20px;border-radius: 50%;width:55px;height:55px;padding:0.5rem;z-index:1;"
  class="position-fixed form-group" mdbBtn color="success" mdbWavesEffect>
  <i class="fa fa-check"></i>
</button>
<!-- form create product -->

<div class="container" style="">
  <!--Grid column-->
  <div class="">

    <div class="card">
      <div class="card-body">
        <!-- Shopping Cart table -->
        <div class="table-responsive">

          <table class="table product-table">

            <!-- Table head -->
            <thead class="mdb-color lighten-5">
              <tr style="background-color:white;">

                <th class="font-weight-bold">
                  <strong>Producto</strong>
                </th>
                <th></th>
                <th class="font-weight-bold">
                  <strong>Precio</strong>
                </th>
                <th class="font-weight-bold">
                  <strong>Cantidad</strong>
                </th>
                <th class="font-weight-bold">
                  <strong>Total</strong>
                </th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <!-- /.Table head -->
            <!-- Table body -->
            <tbody *ngIf="products">

              <!-- First row -->
              <tr *ngFor="let product of products" style="vertical-align:middle;">
                <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                    <!--Content-->
                    <div class="modal-content text-center">
                      <!--Header-->
                      <div class="modal-header d-flex justify-content-center">
                        <p class="heading">Estas seguro?</p>
                      </div>

                      <!--Body-->
                      <div class="modal-body">
                        <i class="fa fa-times fa-4x animated rotateIn"></i>
                      </div>

                      <!--Footer-->
                      <div class="modal-footer justify-content-center">
                        <a mdbBtn color="succsess" outline="true" class="waves-effect" mdbWavesEffect
                          (click)="delete(product)">Si</a>
                        <a (click)="frame.hide()" mdbBtn color="danger" class="waves-effect" mdbWavesEffect
                          data-dismiss="modal" this.photo=product.photo;>No</a>
                      </div>
                    </div>
                    <!--/.Content-->
                  </div>
                </div>

                <td>
                  <h5 class="mt-3">
                    <strong>{{product.NAME}}</strong>
                  </h5>
                </td>
                <td></td>
                <td>{{product.priceIn | currency}}</td>
                <td class="font-weight-bold">
                  <input [disabled]="disable" type="number" value="{{product.amount}}" aria-label="Search"
                    class="form-control" style="width: 100px">
                </td>
                <td>{{product.total | currency}}</td>
                <td><i (click)="disable = !disable" class="float-right p-2 fa fa-pencil green-text fa-lg"
                    aria-hidden="true"></i></td>

                <td>
                  <button (click)="frame.show()" type="button" class="btn btn-sm btn-primary waves-effect waves-light"
                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">
                    X
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="3"></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <h4 class="mt-2">
                    <strong>Total</strong>
                  </h4>
                </td>
                <td *ngIf="products[0]" class="text-right">
                  <h4 class="mt-2">
                    <strong>{{products[0].totalOrder | currency}}</strong>
                  </h4>
                </td>
              </tr>

              <!-- /.First row -->
            </tbody>
            <!-- /.Table body -->

          </table>

        </div>
        <!-- /.Shopping Cart table -->

      </div>

    </div>

  </div>
  <!--Grid column-->

</div>
