<mdb-navbar SideClass="navbar navbar-expand-lg indigo navbar-dark fixed-top scrolling-navbar">

  <!-- Navbar brand -->
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">

            <a dropdownToggle  type="button" class="nav-link">
              <div class="form-row">
                <div class="col">
                  <img src="../../assets/img/perfume.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" mdbWavesEffect routerLink="/admin/products">
                </div>
                <div class="col">

            <label mdbWavesEffect routerLink="/admin/products"><b>Productos</b></label>
                </div>
              </div>

          </a>
        </div>

      </li>


      <li class="nav-item ">
      <div class="navbar-nav nav-flex-icons">
        <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
          <a dropdownToggle  type="button" class="nav-link">
            <div class="form-row ">
            <div class="col">
              <img src="../../assets/img/pedidos.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" >
            </div>
            <div class="col">

              <label >Pedidos</label>

            </div>
            </div>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item" routerLink="/admin/orders">Cliente</a>
            <a class="dropdown-item" routerLink="/admin/ordersProvider">Proveedor</a>
          </div>
        </div>
      </div>
      </li>



      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row">
          <div class="col">
            <img  src="../../assets/img/periodico.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  class="fa fa-user" mdbWavesEffect routerLink="/admin/sales">
          </div>
          <div class="col">

            <label  mdbWavesEffect routerLink="/admin/sales">Reportes</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/providers" src="../../assets/img/bolsa.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  >
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/providers">Proveedores</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/clients"  src="../../assets/img/cliente.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/clients"><b>Clientes</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>
  </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/help"  src="../../assets/img/ayuda.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/help"><b>Ayuda</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>

      </li>

      <!-- Dropdown -->


    </ul>
    <!-- Links -->
    <!-- Search form -->
    <!--
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
      </div>
    </form>
    -->
    <div class="navbar-nav nav-flex-icons">
      <div class="nav-item dropdown" WIDTH=40 HEIGHT=40 dropdown>
        <a dropdownToggle  type="button" class="nav-link">
          <img src="../../assets/img/user.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40 class="fa fa-user"  style="font-size: x-large;">
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item " href="#">Perfil</a>
          <a (click)="logOut()" class="dropdown-item " routerLink="exit">Salir</a>
        </div>
      </div>
    </div>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>

          <!--form create product -->
          <div class="d-flex p-2 col-example"></div>
          <form class="text-center p-5 container md-form col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8" [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <p class="h4 mb-4">Crear proveedor</p>
            <div class="row">

              <!-- Name -->
              <div class="md-form col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <input mdbInputDirective type="text" class="form-control" formControlName="name">
                <label for="name" class="">Nombres</label>
              </div>


              <!-- LastName -->
              <div class="md-form col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <input mdbInputDirective type="text" class="form-control" formControlName="lastName">
                <label for="lastname" class="">Apellidos</label>
              </div>
              <br>
              <div class='errors'>
                <p *ngIf="addForm.get('name').dirty && addForm.get('name').errors && addForm.get('name').errors['required']"> El nombre es requerido</p>
                <p *ngIf="addForm.get('name').dirty && addForm.get('name').errors && addForm.get('name').errors['pattern']"> El nombre ingresado es inválido</p>
                <p *ngIf="addForm.get('lastName').dirty && addForm.get('lastName').errors && addForm.get('lastName').errors['required']"> El apellido es requerido</p>
                <p *ngIf="addForm.get('lastName').dirty && addForm.get('lastName').errors && addForm.get('lastName').errors['pattern']"> El apellido ingresado es inválido</p>
              </div>
              <br>
              <br>

              <!-- Email -->
              <div class="md-form col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <input mdbInputDirective type="email" class="form-control" formControlName="email">
                <label for="email" class="">Correo</label>
              </div>

              <!-- Direction -->
              <div class="md-form col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <input mdbInputDirective type="text" class="form-control" formControlName="direction">
                <label for="direction" class="">Dirección</label>
              </div>
              <br>
              <br>
              <div class='errors'>
                <p *ngIf="addForm.get('direction').dirty && addForm.get('direction').errors && addForm.get('direction').errors['required']"> La dirección es requerida</p>
                <p *ngIf="addForm.get('email').dirty && addForm.get('email').errors && addForm.get('email').errors['required']"> El correo electronico es requerido</p>
                <p *ngIf="addForm.get('email').dirty && addForm.get('email').errors && addForm.get('email').errors['email']"> El correo electronico ingresado tiene formato invalido</p>
              </div>
              <br>
              <!-- Password -->
              <div class="md-form col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <input mdbInputDirective type="text" class="form-control" formControlName="password">
                <label for="password" class="">Constraseña</label>
              </div>

              <!-- phone -->
              <div class="md-form col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <input mdbInputDirective type="text" class="form-control" formControlName="phone">
                <label for="phone" class="">Telefono</label>
              </div>

              <!-- indentify -->
              <div class="md-form col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <input mdbInputDirective type="text" class="form-control" formControlName="identify">
                <label for="identify" class="">Cedula</label>
              </div>
              <br>
              <br>
              <div class='errors'>
                <p *ngIf="addForm.get('identify').dirty && addForm.get('identify').errors && addForm.get('identify').errors['required']"> El numero de identificación es requerido</p>
                <p *ngIf="addForm.get('identify').dirty && addForm.get('identify').errors && addForm.get('identify').errors['pattern']"> El numero de identificación ingresado es inválido</p>
                <p *ngIf="addForm.get('phone').dirty && addForm.get('phone').errors && addForm.get('phone').errors['required']"> El numero de teléfono es requerido</p>
                <p *ngIf="addForm.get('phone').dirty && addForm.get('phone').errors && addForm.get('phone').errors['pattern']"> El numero de teléfono ingresado es inválido</p>
                <p *ngIf="addForm.get('password').dirty && addForm.get('password').errors && addForm.get('password').errors['required']"> La dirección es requerida</p>
              </div>

              <!-- Sign in button -->
              <button style="right:20px; bottom:20px;border-radius: 50%;width:55px;height:55px;padding:0.5rem"
                      class="position-fixed form-group" mdbBtn color="success" mdbWavesEffect [disabled]="!addForm.valid">
                <i class="fa fa-check"></i>
              </button>
            </div>
          </form>
          <!-- form create product -->
