<mdb-navbar SideClass="navbar navbar-expand-lg indigo navbar-dark fixed-top scrolling-navbar">

  <!-- Navbar brand -->
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/admin/products">Productos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/admin/inventory">Inventario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/admin/providers">Proveedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/admin/orders">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/admin/help">Ayuda</a>
      </li>

      <!-- Dropdown -->


    </ul>
    <!-- Links -->
    <!-- Search form -->
    <!--
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
      </div>
    </form>
    -->
    <div class="navbar-nav nav-flex-icons">
      <div class="nav-item dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link">
          <i class="fa fa-user" style="font-size: x-large;"></i>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item " href="#">Perfil</a>
          <a (click)="logOut()" class="dropdown-item " routerLink="exit">Salir</a>
        </div>
      </div>
    </div>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>

<div class="container">
  <div class="d-flex p-4 col-example table-responsive"></div>
  <table mdbTable hover="true" class="m-4 table product-table">

    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col" class="text-primary">{{head}} </th>
      </tr>
    </thead>
    <tbody *ngIf="productsAmount">
      <tr mdbTableCol *ngFor="let product of productsAmount">

        <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
            <div class="modal-content text-center">
              <!--Header-->
              <div class="modal-header d-flex justify-content-center">
                <p class="heading">Estas seguro?</p>
              </div>

              <!--Body-->
              <div class="modal-body">
                <i class="fa fa-times fa-4x animated rotateIn"></i>
              </div>

              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <a mdbBtn color="succsess" outline="true" class="waves-effect"
                   mdbWavesEffect (click)="delete(order)">Si</a>
                <a (click)="frame.hide()" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" this.photo=product.photo;>No</a>
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>

        <td>{{product.name}}</td>
        <td>{{product.amount}}</td>
        <td>
          <i class="float-right p-2 fa fa-edit green-text fa-lg" aria-hidden="true"></i>
          <i (click)="frame.show()" class="float-right p-2 fa fa-close red-text fa-lg" aria-hidden="true"></i>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Agregar</p>

        <button (click)="frame.hide()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="" [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="modal-body mx-3">

            <!-- Name -->
            <div class="md-form">
              <i class="fa fa-barcode prefix grey-text"></i>

              <ng-template #customItemTemplate let-model="item" let-index="index">
                <h6>Nombre: {{model }}</h6>
              </ng-template>

              <input formControlName="codeBar" type="text" autocomplete="off" id="name" mdbInputDirective [(ngModel)]="asyncSelected"
                     [typeaheadScrollable]="true"
                     [typeahead]="dataSource"
                     typeaheadOptionField="codeBar"
                     class="form-control">
              <label for="name" class="">producto</label>
              <div *ngIf="typeaheadLoading">Loading</div>

            </div>


            <!-- LastName -->
            <div class="md-form">
              <i class="fa fa-hashtag prefix grey-text"></i>
              <input mdbInputDirective type="text" id="lastname" autocomplete="off" class="form-control" formControlName="amount">
              <label for="lastname" class="">Cantidad</label>
            </div>

            <!-- Email -->
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input formControlName="email" type="text" autocomplete="off" id="email" mdbInputDirective [(ngModel)]="asyncSelectedProvider"
                     [typeaheadScrollable]="true"
                     [typeahead]="dataSourceProvider"
                     typeaheadOptionField="email"
                     class="form-control">
              <label for="email" class="">Proveedor</label>
            </div>

            <!-- Sign in button -->


          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button mdbBtn color="success" class="waves-light" mdbWavesEffect>Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<button (click)="frame.show()" class="btn green waves-light position-fixed"
        style="right:20px; bottom:20px;border-radius: 50%;width:55px;height:55px;padding:0.5rem">
  <i class="fa fa-plus"></i>
</button>
