.table td{
  vertical-align: middle;
}

.md-form label{
  left: auto;
}

.md-form .prefix ~ .inputVal {
  left: 3.5rem;
}

.table thead th {
  border-bottom: 2px solid #33b5e5;
}

.img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid {
  width: 100px;
}

.expand span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.expand:hover span {
  max-width: 8.5rem;
  color: white;
  font-size: 1.2em;
}

.expand:hover i{
  visibility: hidden;
}