<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg indigo navbar-dark fixed-top scrolling-navbar">

    <!-- Navbar brand -->
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <div class="navbar-nav nav-flex-icons">
  
              <a dropdownToggle  type="button" class="nav-link">
                <div class="form-row">
                  <div class="col">
                    <img src="../../assets/img/perfume.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" mdbWavesEffect routerLink="/admin/products">
                  </div>
                  <div class="col">
  
              <label mdbWavesEffect routerLink="/admin/products"><b>Productos</b></label>
                  </div>
                </div>
  
            </a>
          </div>
  
        </li>
  
  
        <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
              <div class="form-row ">
              <div class="col">
                <img src="../../assets/img/pedidos.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" >
              </div>
              <div class="col">
  
                <label >Pedidos</label>
  
              </div>
              </div>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item" routerLink="/admin/orders">Cliente</a>
              <a class="dropdown-item" routerLink="/admin/ordersProvider">Proveedor</a>
            </div>
          </div>
        </div>
        </li>
  
  
  
        <li class="nav-item ">
          <div class="navbar-nav nav-flex-icons">
            <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
              <a dropdownToggle  type="button" class="nav-link">
          <div class="form-row">
            <div class="col">
              <img  src="../../assets/img/periodico.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  class="fa fa-user" mdbWavesEffect routerLink="/admin/sales">
            </div>
            <div class="col">
  
              <label  mdbWavesEffect routerLink="/admin/sales">Reportes</label>
            </div>
          </div>
        </a>
      </div>
    </div>
        </li>
  
        <li class="nav-item">
          <div class="navbar-nav nav-flex-icons">
            <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
              <a dropdownToggle  type="button" class="nav-link">
          <div class="form-row ">
            <div class="col">
              <img class="fa fa-user" mdbWavesEffect routerLink="/admin/providers" src="../../assets/img/bolsa.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  >
            </div>
            <div class="col">
  
              <label mdbWavesEffect routerLink="/admin/providers">Proveedores</label>
            </div>
          </div>
        </a>
      </div>
    </div>
        </li>
  
        <li class="nav-item">
          <div class="navbar-nav nav-flex-icons">
            <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
              <a dropdownToggle  type="button" class="nav-link">
          <div class="form-row ">
            <div class="col">
              <img  src="../../assets/img/ventas.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25 class="fa fa-user" mdbWavesEffect routerLink="/admin/orders">
            </div>
            <div class="col">
  
              <label mdbWavesEffect routerLink="/admin/orders"><b>Ventas</b></label>
            </div>
          </div>
        </a>
      </div>
    </div>
        </li>
  
        <li class="nav-item">
          <div class="navbar-nav nav-flex-icons">
            <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
              <a dropdownToggle  type="button" class="nav-link">
          <div class="form-row ">
            <div class="col">
              <img class="fa fa-user" mdbWavesEffect routerLink="/admin/clients"  src="../../assets/img/cliente.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
            </div>
            <div class="col">
  
              <label mdbWavesEffect routerLink="/admin/clients"><b>Clientes</b></label>
            </div>
          </div>
        </a>
      </div>
    </div>
    </li>
  
        <li class="nav-item">
          <div class="navbar-nav nav-flex-icons">
            <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
              <a dropdownToggle  type="button" class="nav-link">
          <div class="form-row ">
            <div class="col">
              <img class="fa fa-user" mdbWavesEffect routerLink="/admin/help"  src="../../assets/img/ayuda.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
            </div>
            <div class="col">
  
              <label mdbWavesEffect routerLink="/admin/help"><b>Ayuda</b></label>
            </div>
          </div>
        </a>
      </div>
    </div>
  
        </li>
  
        <!-- Dropdown -->
  
  
      </ul>
      <!-- Links -->
      <!-- Search form -->
      <!--
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
        </div>
      </form>
      -->
      <div class="navbar-nav nav-flex-icons">
        <div class="nav-item dropdown" WIDTH=40 HEIGHT=40 dropdown>
          <a dropdownToggle  type="button" class="nav-link">
            <img src="../../assets/img/user.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40 class="fa fa-user"  style="font-size: x-large;">
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item " href="#">Perfil</a>
            <a (click)="logOut()" class="dropdown-item " routerLink="exit">Salir</a>
          </div>
        </div>
      </div>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>

<!--form create product -->
<div class="d-flex p-3 col-example"></div>
<form class="p-5  container col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8" [formGroup]="addForm" (ngSubmit)="addProduct()">
  <p class="h4 mb-4 text-center">Producto</p>
  <div class="row aling-center">
    <!-- Name -->

    <div class="md-form  col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

      <select class="browser-default custom-select form-control" formControlName="codeBar">
        <option *ngFor="let product of availableProducts" [value]="product.codeBar">{{product.NAME}}
        </option>
      </select>
    </div>

    <div class="md-form col-9 col-sm-10 col-md-2 col-lg-2 col-xl-2">

      <input mdbInputDirective type="text" id="amount" class="form-control mb-4 " formControlName="amount">
      <label for="amount" class="">Cantidad</label>
    </div>

    <div class="md-form col-9 col-sm-10 col-md-3 col-lg-3 col-xl-3">

      <input mdbInputDirective type="text" id="priceIn" class="form-control mb-4 " formControlName="priceIn">
      <label for="priceIn" class="">Precio de compra</label>
    </div>


    <button style="height:55px;padding:0.5rem;z-index:1;"
            class="form-group" mdbBtn color="success" mdbWavesEffect>
      <i class="fa fa-plus"></i>
      Agregar al pedido
    </button>



  </div>


</form>
<button (click)="verify()" style="right:20px; bottom:20px;height:55px;min-width: 55px;padding:0.5rem;z-index:1;"
        class="position-fixed form-group expand" mdbBtn color="success" mdbWavesEffect>
  <i class="fa fa-check"></i>
  <span>Verificar pedido</span> 
</button>
<!-- form create product -->

<div class="container" style="">
  <!--Grid column-->
  <div class="">
      <table mdbTable *ngIf="provider">
          <thead class="grey lighten-1 black-text">
            <tr>
              <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol>
              <th >{{provider.name}} {{provider.lastname}}</th>
              <td>{{provider.phone}}</td>
            </tr>
          </tbody>
        </table>
    <div class="card">
      <div class="card-body">
        <!-- Shopping Cart table -->
        <div class="table-responsive">

          <table class="table product-table">

            <!-- Table head -->
            <thead class="mdb-color lighten-5">
              <tr style="background-color:white;">
                <th></th>
                <th class="font-weight-bold">
                  <strong>Producto</strong>
                </th>
                <th></th>
                <th class="font-weight-bold">
                  <strong>Precio</strong>
                </th>
                <th class="font-weight-bold">
                  <strong>Cantidad</strong>
                </th>
                <th class="font-weight-bold">
                  <strong>Total</strong>
                </th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <!-- /.Table head -->
            <!-- Table body -->
            <tbody *ngIf="products">

              <!-- First row -->
              <tr *ngFor="let product of products" style="vertical-align:middle;">
                <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                    <!--Content-->
                    <div class="modal-content text-center">
                      <!--Header-->
                      <div class="modal-header d-flex justify-content-center">
                        <p class="heading">Estas seguro?</p>
                      </div>

                      <!--Body-->
                      <div class="modal-body">
                        <i class="fa fa-times fa-4x animated rotateIn"></i>
                      </div>

                      <!--Footer-->
                      <div class="modal-footer justify-content-center">
                        <a mdbBtn color="succsess" outline="true" class="waves-effect"
                           mdbWavesEffect (click)="delete(product)">Si</a>
                        <a (click)="frame.hide()" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" this.photo=product.photo;>No</a>
                      </div>
                    </div>
                    <!--/.Content-->
                  </div>
                </div>
                <th scope="row">
                  <img [src]="product.photo" alt="" class="img-fluid z-depth-0">
                </th>
                <td>
                  <h5 class="mt-3">
                    <strong>{{product.name}}</strong>
                  </h5>
                </td>
                <td></td>
                <td>
                  <form [formGroup]="editForm" (ngSubmit)="editProduct()">
                  <input formControlName="priceIn" type="number" value="{{product.priceOut}}" aria-label="Search" class="form-control" style="width: 100px">
                  </form>
                </td>
                <td class="font-weight-bold">
                  <form [formGroup]="editForm" (ngSubmit)="editProduct()">
                  <input formControlName="amount" type="number" value="{{product.amount}}" aria-label="Search" class="form-control" style="width: 100px">
                  </form>
                </td>
                <td>{{product.total | currency}}</td>
                <td><i (click)="editProduct(product)" class="float-right p-2 fa fa-pencil green-text fa-lg" aria-hidden="true"></i></td>

                <td>
                  <button (click)="frame.show()" type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">
                    X
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="3"></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <h4 class="mt-2">
                    <strong>Total</strong>
                  </h4>
                </td>
                <td *ngIf="products[0]" class="text-right">
                  <h4 class="mt-2">
                    <strong>{{products[0].totalOrder | currency }}</strong>
                  </h4>
                </td>
              </tr>

              <!-- /.First row -->
            </tbody>
            <!-- /.Table body -->

          </table>

        </div>
        <!-- /.Shopping Cart table -->

      </div>

    </div>

  </div>
  <!--Grid column-->

</div>
