<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg indigo navbar-dark fixed-top scrolling-navbar">

  <!-- Navbar brand -->
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">

            <a dropdownToggle  type="button" class="nav-link">
              <div class="form-row">
                <div class="col">
                  <img src="../../assets/img/perfume.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" mdbWavesEffect routerLink="/admin/products">
                </div>
                <div class="col">

            <label mdbWavesEffect routerLink="/admin/products"><b>Productos</b></label>
                </div>
              </div>

          </a>
        </div>

      </li>


      <li class="nav-item ">
      <div class="navbar-nav nav-flex-icons">
        <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
          <a dropdownToggle  type="button" class="nav-link">
            <div class="form-row ">
            <div class="col">
              <img src="../../assets/img/pedidos.png" ALIGN=top WIDTH=25 HEIGHT=25 class="fa fa-user" >
            </div>
            <div class="col">

              <label >Pedidos</label>

            </div>
            </div>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item" routerLink="/admin/orders">Cliente</a>
            <a class="dropdown-item" routerLink="/admin/ordersProvider">Proveedor</a>
          </div>
        </div>
      </div>
      </li>



      <li class="nav-item ">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row">
          <div class="col">
            <img  src="../../assets/img/periodico.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  class="fa fa-user" mdbWavesEffect routerLink="/admin/sales">
          </div>
          <div class="col">

            <label  mdbWavesEffect routerLink="/admin/sales">Reportes</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/providers" src="../../assets/img/bolsa.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25  >
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/providers">Proveedores</label>
          </div>
        </div>
      </a>
    </div>
  </div>
      </li>


      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/clients"  src="../../assets/img/cliente.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/clients"><b>Clientes</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>
  </li>

      <li class="nav-item">
        <div class="navbar-nav nav-flex-icons">
          <div class="nav-item dropdown" WIDTH=30 HEIGHT=30 dropdown>
            <a dropdownToggle  type="button" class="nav-link">
        <div class="form-row ">
          <div class="col">
            <img class="fa fa-user" mdbWavesEffect routerLink="/admin/help"  src="../../assets/img/ayuda.png" ALIGN=MIDDLE WIDTH=25 HEIGHT=25>
          </div>
          <div class="col">

            <label mdbWavesEffect routerLink="/admin/help"><b>Ayuda</b></label>
          </div>
        </div>
      </a>
    </div>
  </div>

      </li>

      <!-- Dropdown -->


    </ul>
    <!-- Links -->
    <!-- Search form -->
    <!--
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
      </div>
    </form>
    -->
    <div class="navbar-nav nav-flex-icons">
      <div class="nav-item dropdown" WIDTH=40 HEIGHT=40 dropdown>
        <a dropdownToggle  type="button" class="nav-link">
          <img src="../../assets/img/user.png" ALIGN=MIDDLE WIDTH=40 HEIGHT=40 class="fa fa-user"  style="font-size: x-large;">
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item " href="#">Perfil</a>
          <a (click)="logOut()" class="dropdown-item " routerLink="exit">Salir</a>
        </div>
      </div>
    </div>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>

<div class="container" style="margin-top: 20px">
  <div class="d-flex p-4 col-example"></div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 p-2" *ngFor="let product of products">

      <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
          <!--Content-->
          <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
              <p class="heading">Estas seguro?</p>
            </div>

            <!--Body-->
            <div class="modal-body">
              <i class="fa fa-times fa-4x animated rotateIn"></i>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a mdbBtn color="succsess" outline="true" class="waves-effect"
                 mdbWavesEffect (click)="delete(product)">Si</a>
              <a (click)="frame.hide()" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" this.photo=product.photo;>No</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

      <div class="d-flex p-2 col-example"></div>
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>


          <!-- Card img -->
          <mdb-card-img src="{{product.photo}}" alt="Card image cap" > 

          </mdb-card-img>
          <a class="row">
            <div class="mask h1"><mdb-badge class="rounded-right" color="red">{{product.priceIn | currency}} $</mdb-badge></div>
          </a>
        </div>
        <!--Card content-->
        

        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>{{product.NAME}}</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
              <div *ngIf="product.amount == 0" class="alert alert-danger" role="alert">
                  <h4 class="alert-heading">Oye!</h4>
                  <p>no tienes stock en el inventario de este producto, por favor realiza un pedido.</p>
                </div>

            <div *ngIf="product.amount <= 10 && product.amount > 0" class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Oye!</h4>
              <p>En este momento cuentas solo con {{product.amount}} productos.</p>
              <hr>
              <p class="mb-0">Porfavor realiza un pedido.</p>
            </div>

            <div *ngIf="product.amount <= 20 && product.amount > 10" class="alert alert-warning" role="alert">
              <h4 class="alert-heading">Oye!</h4>
              <p>Tienes {{product.amount}} productos en el inventario.</p>
              <hr>
              <p class="mb-0">Pronto deberias relizar un pedido.</p>
            </div>

            <div *ngIf="product.amount > 20" class="alert alert-success" role="alert">
              <h4 class="alert-heading">Oye!</h4>
              <p>En este momento estas muy bien de este producto, tienes en el inventario {{product.amount}} productos.</p>
            </div>
          </mdb-card-text>

          <div class="row p-2">
              <i (click)="frame.show()" class="float-right p-2 fa fa-close red-text fa-lg" aria-hidden="true"><span style="font-family: Roboto, sans-serif;">Eliminar</span></i>
              <i routerLink="edit-product/{{product.codeBar}}" class="float-right p-2 fa fa-pencil green-text fa-lg" aria-hidden="true"><span style="font-family: Roboto, sans-serif;">Editar</span></i>
            </div>

        </mdb-card-body>
      </mdb-card>
      <!-- Card -->

    </div>
  </div>
</div>


<button routerLink="add-product" class="btn green waves-light position-fixed expand"
        style="right:20px; bottom:20px;min-width:55px;height:55px;padding:0.5rem">
  <i class="fa fa-plus"></i>
  <span>Crear Producto</span>
</button>
